# Compilados de Java
*.class
*.log

# Carpetas de compilación o salida
bin/
out/
target/
build/

# Archivos de configuración de IntelliJ IDEA
.idea/
*.iml
*.iws

# Archivos de configuración de Eclipse
.settings/
.metadata/
.classpath
.project

# Archivos de configuración de VS Code
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
